.narbarv1-wrapper {
  display: contents;
}
.narbarv1-container1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.narbarv1-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.narbarv1-navlink1 {
  display: contents;
}
.narbarv1-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.narbarv1-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.narbarv1-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.narbarv1-link4-dropdown-trigger {
  gap: 4px;
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.narbarv1-link51 {
  text-decoration: none;
}
.narbarv1-icon-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.narbarv1-container2 {
  display: flex;
  align-items: center;
  animation-name: rotateInDownLeft;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-end;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.narbarv1-icon10 {
  width: 24px;
  height: 24px;
}
.narbarv1-container3 {
  display: flex;
  align-items: center;
  animation-name: rotateInDownRight;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-end;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.narbarv1-icon12 {
  width: 24px;
  height: 24px;
}
.narbarv1-link11 {
  text-decoration: none;
}
.narbarv1-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.narbarv1-action11 {
  display: flex;
  flex-direction: row;
}
.narbarv1-navlink2 {
  text-decoration: none;
}
.narbarv1-action21 {
  display: flex;
  flex-direction: row;
}
.narbarv1-navlink3 {
  text-decoration: none;
}
.narbarv1-burger-menu {
  display: none;
}
.narbarv1-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.narbarv1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.narbarv1-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.narbarv1-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.narbarv1-logo {
  height: 3rem;
}
.narbarv1-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.narbarv1-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.narbarv1-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.narbarv1-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.narbarv1-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.narbarv1-icon-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.narbarv1-container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.narbarv1-icon18 {
  width: 24px;
  height: 24px;
}
.narbarv1-container5 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.narbarv1-icon20 {
  width: 24px;
  height: 24px;
}
.narbarv1-container6 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-halfunit);
  grid-template-columns: 1fr;
}
.narbarv1-menu-item1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.narbarv1-page1-image1 {
  width: 50px;
  height: 50px;
}
.narbarv1-content1 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.narbarv1-menu-item2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.narbarv1-page2-image1 {
  width: 50px;
  height: 50px;
}
.narbarv1-content2 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.narbarv1-menu-item3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.narbarv1-page3-image1 {
  width: 50px;
  height: 50px;
}
.narbarv1-content3 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.narbarv1-menu-item4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.narbarv1-page4-image1 {
  width: 50px;
  height: 50px;
}
.narbarv1-content4 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.narbarv1-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
}
.narbarv1-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.narbarv1-container7 {
  top: 100%;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  animation-name: fadeInDownBig;
  animation-delay: 0s;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.narbarv1-link5-menu-list {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-oneandhalfunits);
  grid-gap: var(--dl-space-space-halfunit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.narbarv1-menu-item5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.narbarv1-page1-image2 {
  width: 30px;
  height: 30px;
}
.narbarv1-content5 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.narbarv1-menu-item6 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.narbarv1-page2-image2 {
  width: 30px;
  height: 30px;
}
.narbarv1-content6 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.narbarv1-menu-item7 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.narbarv1-page3-image2 {
  width: 30px;
  height: 30px;
}
.narbarv1-content7 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.narbarv1-menu-item8 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.narbarv1-page4-image2 {
  width: 30px;
  height: 30px;
}
.narbarv1-content8 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.narbarv1-container8 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
.home-fragment13 {
  display: contents;
}
.home-text17 {
  display: inline-block;
}
.home-fragment19 {
  display: contents;
}
.home-text27 {
  display: inline-block;
}
.home-fragment23 {
  display: contents;
}
.home-text31 {
  display: inline-block;
}
.home-fragment20 {
  display: contents;
}
.home-text28 {
  display: inline-block;
}
.home-fragment16 {
  display: contents;
}
.home-text22 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.home-fragment10 {
  display: contents;
}
.home-text10 {
  display: inline-block;
  text-decoration: none;
}
.home-fragment12 {
  display: contents;
}
.home-text14 {
  display: inline-block;
  text-decoration: none;
}
.home-fragment17 {
  display: contents;
}
.home-text23 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.home-fragment14 {
  display: contents;
}
.home-text20 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.home-fragment15 {
  display: contents;
}
.home-text21 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.home-fragment22 {
  display: contents;
}
.home-text30 {
  display: inline-block;
}
.home-fragment11 {
  display: contents;
}
.home-text13 {
  display: inline-block;
}
.home-fragment21 {
  display: contents;
}
.home-text29 {
  display: inline-block;
}
.home-fragment18 {
  display: contents;
}
.home-text24 {
  display: inline-block;
}


@media(max-width: 767px) {
  .narbarv1-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .narbarv1-desktop-menu {
    display: none;
  }
  .narbarv1-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .narbarv1-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .narbarv1-container6 {
    grid-gap: 0;
  }
  .narbarv1-link5-menu-list {
    display: none;
  }
}
@media(max-width: 479px) {
  .narbarv1-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .narbarv1-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.hero9-wrapper {
  display: contents;
}
.hero9-header30 {
  gap: var(--dl-space-space-twounits);
}
.hero9-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.hero9-container {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255,255,255,0.7);
}
.hero9-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
}
.hero9-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero9-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.home-fragment24 {
  display: contents;
}
.home-text32 {
  display: inline-block;
  text-align: center;
}
.home-fragment27 {
  display: contents;
}
.home-text37 {
  display: inline-block;
}
.home-fragment25 {
  display: contents;
}
.home-text33 {
  display: inline-block;
}
.home-fragment26 {
  display: contents;
}
.home-text34 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 991px) {
  .home-text37 {
    text-align: center;
  }
  .home-text34 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .hero9-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero9-button1 {
    width: 100%;
  }
  .hero9-button2 {
    width: 100%;
  }
}

.faq8-wrapper {
  display: contents;
}
.faq8faq8 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.faq8-max-width {
  align-self: center;
}
.faq8-container10 {
  align-self: stretch;
  align-items: stretch;
}
.faq8-list {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.faq8-faq1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq8-trigger1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq8-icons-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq8-icon10 {
  width: 24px;
  height: 24px;
}
.faq8-icon12 {
  width: 24px;
  height: 24px;
}
.faq8-container14 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq8-faq2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq8-trigger2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq8-icons-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq8-icon14 {
  width: 24px;
  height: 24px;
}
.faq8-icon16 {
  width: 24px;
  height: 24px;
}
.faq8-container17 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq8-faq3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq8-trigger3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq8-icons-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq8-icon18 {
  width: 24px;
  height: 24px;
}
.faq8-icon20 {
  width: 24px;
  height: 24px;
}
.faq8-container20 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq8-button {
  align-self: center;
}
.home-fragment31 {
  display: contents;
}
.home-text43 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.home-fragment28 {
  display: contents;
}
.home-text38 {
  display: inline-block;
}
.home-fragment32 {
  display: contents;
}
.home-text44 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.home-fragment29 {
  display: contents;
}
.home-text41 {
  display: inline-block;
}
.home-fragment33 {
  display: contents;
}
.home-text47 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.home-fragment30 {
  display: contents;
}
.home-text42 {
  display: inline-block;
}

.content-list61-wrapper {
  display: contents;
}
.content-list61-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.content-list61-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: row;
}
.content-list61-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.content-list61-container3 {
  width: auto;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
}
.content-list61-container4 {
  align-self: stretch;
  align-items: flex-start;
}
.content-list61-ul1 {
  align-items: flex-start;
}
.content-list61-li10 {
  align-items: flex-start;
}
.content-list61-ul2 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.content-list61-container5 {
  align-self: stretch;
  align-items: flex-start;
}
.content-list61-li13 {
  align-items: flex-start;
}
.content-list61-ul4 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.content-list61-container6 {
  align-self: stretch;
  align-items: flex-start;
}
.content-list61-ul5 {
  align-items: flex-start;
}
.content-list61-li19 {
  align-items: flex-start;
}
.content-list61-ul6 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.home-fragment37 {
  display: contents;
}
.home-text51 {
  display: inline-block;
}
.home-fragment40 {
  display: contents;
}
.home-text54 {
  display: inline-block;
}
.home-fragment46 {
  display: contents;
}
.home-text60 {
  display: inline-block;
}
.home-fragment43 {
  display: contents;
}
.home-text57 {
  display: inline-block;
}
.home-fragment57 {
  display: contents;
}
.home-text71 {
  display: inline-block;
}
.home-fragment42 {
  display: contents;
}
.home-text56 {
  display: inline-block;
}
.home-fragment36 {
  display: contents;
}
.home-text50 {
  display: inline-block;
}
.home-fragment58 {
  display: contents;
}
.home-text72 {
  display: inline-block;
  align-self: center;
  text-align: center;
}
.home-fragment61 {
  display: contents;
}
.home-text75 {
  display: inline-block;
}
.home-fragment56 {
  display: contents;
}
.home-text70 {
  display: inline-block;
}
.home-fragment44 {
  display: contents;
}
.home-text58 {
  display: inline-block;
}
.home-fragment34 {
  display: contents;
}
.home-text48 {
  display: inline-block;
}
.home-fragment45 {
  display: contents;
}
.home-text59 {
  display: inline-block;
  align-self: center;
  text-align: center;
}
.home-fragment49 {
  display: contents;
}
.home-text63 {
  display: inline-block;
}
.home-fragment52 {
  display: contents;
}
.home-text66 {
  display: inline-block;
}
.home-fragment55 {
  display: contents;
}
.home-text69 {
  display: inline-block;
}
.home-fragment60 {
  display: contents;
}
.home-text74 {
  display: inline-block;
}
.home-fragment53 {
  display: contents;
}
.home-text67 {
  display: inline-block;
}
.home-fragment51 {
  display: contents;
}
.home-text65 {
  display: inline-block;
  align-self: center;
  text-align: center;
}
.home-fragment50 {
  display: contents;
}
.home-text64 {
  display: inline-block;
}
.home-fragment35 {
  display: contents;
}
.home-text49 {
  display: inline-block;
}
.home-fragment59 {
  display: contents;
}
.home-text73 {
  display: inline-block;
}
.home-fragment47 {
  display: contents;
}
.home-text61 {
  display: inline-block;
}
.home-fragment41 {
  display: contents;
}
.home-text55 {
  display: inline-block;
}
.home-fragment48 {
  display: contents;
}
.home-text62 {
  display: inline-block;
}
.home-fragment38 {
  display: contents;
}
.home-text52 {
  display: inline-block;
}
.home-fragment54 {
  display: contents;
}
.home-text68 {
  display: inline-block;
}
.home-fragment39 {
  display: contents;
}
.home-text53 {
  display: inline-block;
}
@media(max-width: 767px) {
  .content-list61-max-width {
    align-items: center;
    flex-direction: column;
  }
  .content-list61-container2 {
    align-self: center;
  }
  .content-list61-container3 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .content-list61-ul2 {
    padding-left: var(--dl-space-space-threeunits);
  }
  .content-list61-ul4 {
    padding-left: var(--dl-space-space-threeunits);
  }
  .content-list61-ul6 {
    padding-left: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .content-list61-max-width {
    flex-direction: column;
  }
  .content-list61-container2 {
    align-self: center;
  }
  .content-list61-ul2 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .content-list61-ul4 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .content-list61-ul6 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
}

.footerv1-wrapper {
  display: contents;
}
.footerv1-footer1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footerv1-max-width {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
}
.footerv1-newsletter {
  gap: 24px;
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footerv1-image1 {
  height: 2rem;
}
.footerv1-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
.footerv1-container {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
.footerv1-text-input {
  gap: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  background-color: transparent;
}
.footerv1-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.footerv1-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footerv1-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footerv1-footer-links2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-column3 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footerv1-social-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-link14 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footerv1-link15 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footerv1-link16 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footerv1-link17 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footerv1-link18 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footerv1-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
}
.footerv1-footer-links3 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.home-fragment64 {
  display: contents;
}
.home-text78 {
  display: inline-block;
}
.home-fragment66 {
  display: contents;
}
.home-text80 {
  display: inline-block;
}
.home-fragment68 {
  display: contents;
}
.home-text82 {
  display: inline-block;
}
.home-fragment76 {
  display: contents;
}
.home-text90 {
  display: inline-block;
}
.home-fragment67 {
  display: contents;
}
.home-text81 {
  display: inline-block;
}
.home-fragment70 {
  display: contents;
}
.home-text84 {
  display: inline-block;
}
.home-fragment74 {
  display: contents;
}
.home-text88 {
  display: inline-block;
}
.home-fragment77 {
  display: contents;
}
.home-text91 {
  display: inline-block;
}
.home-fragment71 {
  display: contents;
}
.home-text85 {
  display: inline-block;
}
.home-fragment80 {
  display: contents;
}
.home-text94 {
  display: inline-block;
}
.home-fragment78 {
  display: contents;
}
.home-text92 {
  display: inline-block;
}
.home-fragment72 {
  display: contents;
}
.home-text86 {
  display: inline-block;
}
.home-fragment63 {
  display: contents;
}
.home-text77 {
  display: inline-block;
}
.home-fragment62 {
  display: contents;
}
.home-text76 {
  display: inline-block;
}
.home-fragment75 {
  display: contents;
}
.home-text89 {
  display: inline-block;
}
.home-fragment65 {
  display: contents;
}
.home-text79 {
  display: inline-block;
}
.home-fragment69 {
  display: contents;
}
.home-text83 {
  display: inline-block;
}
.home-fragment73 {
  display: contents;
}
.home-text87 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  display: inline-block;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-fragment79 {
  display: contents;
}
.home-text93 {
  display: inline-block;
}



@media(max-width: 991px) {
  .footerv1-newsletter {
    width: 300px;
  }
  .footerv1-form {
    width: 100%;
    flex-direction: column;
  }
  .footerv1-container {
    width: 100%;
  }
  .footerv1-text-input {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .footerv1-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footerv1-content {
    flex-direction: column;
  }
  .footerv1-newsletter {
    width: 100%;
  }
  .footerv1-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footerv1-container {
    width: 100%;
  }
  .footerv1-button {
    width: 208px;
  }
  .footerv1-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footerv1-column1 {
    align-items: center;
  }
  .footerv1-footer-links1 {
    align-self: center;
  }
  .footerv1-column2 {
    align-items: center;
  }
  .footerv1-footer-links2 {
    align-self: center;
  }
  .footerv1-column3 {
    align-items: center;
  }
  .footerv1-social-links {
    align-self: center;
  }
  .footerv1-row {
    gap: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text94 {
    text-align: center;
  }
  .home-text92 {
    text-align: center;
  }
  .home-text93 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .footerv1-actions {
    width: 100%;
  }
  .footerv1-form {
    width: 100%;
    flex-direction: column;
  }
  .footerv1-container {
    width: 100%;
  }
  .footerv1-button {
    width: 100%;
  }
  .footerv1-links {
    flex-direction: column;
  }
  .footerv1-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footerv1-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footerv1-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footerv1-footer-links2 {
    align-items: center;
    justify-content: center;
  }
  .footerv1-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footerv1-social-links {
    align-items: center;
    justify-content: center;
  }
  .footerv1-credits {
    gap: var(--dl-space-space-unit);
  }
  .footerv1-row {
    align-items: center;
    justify-content: center;
  }
  .footerv1-footer-links3 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-fragment10 {
  display: contents;
}
.home-text10 {
  display: inline-block;
  text-decoration: none;
}
.home-fragment11 {
  display: contents;
}
.home-text13 {
  display: inline-block;
}
.home-fragment12 {
  display: contents;
}
.home-text14 {
  display: inline-block;
  text-decoration: none;
}
.home-fragment13 {
  display: contents;
}
.home-text17 {
  display: inline-block;
}
.home-fragment14 {
  display: contents;
}
.home-text20 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.home-fragment15 {
  display: contents;
}
.home-text21 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.home-fragment16 {
  display: contents;
}
.home-text22 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.home-fragment17 {
  display: contents;
}
.home-text23 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.home-fragment18 {
  display: contents;
}
.home-text24 {
  display: inline-block;
}
.home-fragment19 {
  display: contents;
}
.home-text27 {
  display: inline-block;
}
.home-fragment20 {
  display: contents;
}
.home-text28 {
  display: inline-block;
}
.home-fragment21 {
  display: contents;
}
.home-text29 {
  display: inline-block;
}
.home-fragment22 {
  display: contents;
}
.home-text30 {
  display: inline-block;
}
.home-fragment23 {
  display: contents;
}
.home-text31 {
  display: inline-block;
}
.home-fragment24 {
  display: contents;
}
.home-text32 {
  display: inline-block;
  text-align: center;
}
.home-fragment25 {
  display: contents;
}
.home-text33 {
  display: inline-block;
}
.home-fragment26 {
  display: contents;
}
.home-text34 {
  display: inline-block;
  text-align: center;
}
.home-fragment27 {
  display: contents;
}
.home-text37 {
  display: inline-block;
}
.home-fragment28 {
  display: contents;
}
.home-text38 {
  display: inline-block;
}
.home-fragment29 {
  display: contents;
}
.home-text41 {
  display: inline-block;
}
.home-fragment30 {
  display: contents;
}
.home-text42 {
  display: inline-block;
}
.home-fragment31 {
  display: contents;
}
.home-text43 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.home-fragment32 {
  display: contents;
}
.home-text44 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.home-fragment33 {
  display: contents;
}
.home-text47 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.home-fragment34 {
  display: contents;
}
.home-text48 {
  display: inline-block;
}
.home-fragment35 {
  display: contents;
}
.home-text49 {
  display: inline-block;
}
.home-fragment36 {
  display: contents;
}
.home-text50 {
  display: inline-block;
}
.home-fragment37 {
  display: contents;
}
.home-text51 {
  display: inline-block;
}
.home-fragment38 {
  display: contents;
}
.home-text52 {
  display: inline-block;
}
.home-fragment39 {
  display: contents;
}
.home-text53 {
  display: inline-block;
}
.home-fragment40 {
  display: contents;
}
.home-text54 {
  display: inline-block;
}
.home-fragment41 {
  display: contents;
}
.home-text55 {
  display: inline-block;
}
.home-fragment42 {
  display: contents;
}
.home-text56 {
  display: inline-block;
}
.home-fragment43 {
  display: contents;
}
.home-text57 {
  display: inline-block;
}
.home-fragment44 {
  display: contents;
}
.home-text58 {
  display: inline-block;
}
.home-fragment45 {
  display: contents;
}
.home-text59 {
  display: inline-block;
  align-self: center;
  text-align: center;
}
.home-fragment46 {
  display: contents;
}
.home-text60 {
  display: inline-block;
}
.home-fragment47 {
  display: contents;
}
.home-text61 {
  display: inline-block;
}
.home-fragment48 {
  display: contents;
}
.home-text62 {
  display: inline-block;
}
.home-fragment49 {
  display: contents;
}
.home-text63 {
  display: inline-block;
}
.home-fragment50 {
  display: contents;
}
.home-text64 {
  display: inline-block;
}
.home-fragment51 {
  display: contents;
}
.home-text65 {
  display: inline-block;
  align-self: center;
  text-align: center;
}
.home-fragment52 {
  display: contents;
}
.home-text66 {
  display: inline-block;
}
.home-fragment53 {
  display: contents;
}
.home-text67 {
  display: inline-block;
}
.home-fragment54 {
  display: contents;
}
.home-text68 {
  display: inline-block;
}
.home-fragment55 {
  display: contents;
}
.home-text69 {
  display: inline-block;
}
.home-fragment56 {
  display: contents;
}
.home-text70 {
  display: inline-block;
}
.home-fragment57 {
  display: contents;
}
.home-text71 {
  display: inline-block;
}
.home-fragment58 {
  display: contents;
}
.home-text72 {
  display: inline-block;
  align-self: center;
  text-align: center;
}
.home-fragment59 {
  display: contents;
}
.home-text73 {
  display: inline-block;
}
.home-fragment60 {
  display: contents;
}
.home-text74 {
  display: inline-block;
}
.home-fragment61 {
  display: contents;
}
.home-text75 {
  display: inline-block;
}
.home-fragment62 {
  display: contents;
}
.home-text76 {
  display: inline-block;
}
.home-fragment63 {
  display: contents;
}
.home-text77 {
  display: inline-block;
}
.home-fragment64 {
  display: contents;
}
.home-text78 {
  display: inline-block;
}
.home-fragment65 {
  display: contents;
}
.home-text79 {
  display: inline-block;
}
.home-fragment66 {
  display: contents;
}
.home-text80 {
  display: inline-block;
}
.home-fragment67 {
  display: contents;
}
.home-text81 {
  display: inline-block;
}
.home-fragment68 {
  display: contents;
}
.home-text82 {
  display: inline-block;
}
.home-fragment69 {
  display: contents;
}
.home-text83 {
  display: inline-block;
}
.home-fragment70 {
  display: contents;
}
.home-text84 {
  display: inline-block;
}
.home-fragment71 {
  display: contents;
}
.home-text85 {
  display: inline-block;
}
.home-fragment72 {
  display: contents;
}
.home-text86 {
  display: inline-block;
}
.home-fragment73 {
  display: contents;
}
.home-text87 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  display: inline-block;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-fragment74 {
  display: contents;
}
.home-text88 {
  display: inline-block;
}
.home-fragment75 {
  display: contents;
}
.home-text89 {
  display: inline-block;
}
.home-fragment76 {
  display: contents;
}
.home-text90 {
  display: inline-block;
}
.home-fragment77 {
  display: contents;
}
.home-text91 {
  display: inline-block;
}
.home-fragment78 {
  display: contents;
}
.home-text92 {
  display: inline-block;
}
.home-fragment79 {
  display: contents;
}
.home-text93 {
  display: inline-block;
}
.home-fragment80 {
  display: contents;
}
.home-text94 {
  display: inline-block;
}
@media(max-width: 991px) {
  .home-text34 {
    text-align: center;
  }
  .home-text37 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-text92 {
    text-align: center;
  }
  .home-text93 {
    text-align: center;
  }
  .home-text94 {
    text-align: center;
  }
}
