.narbarv1-wrapper {
  display: contents;
}
.narbarv1-container1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.narbarv1-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.narbarv1-navlink1 {
  display: contents;
}
.narbarv1-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.narbarv1-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.narbarv1-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.narbarv1-link4-dropdown-trigger {
  gap: 4px;
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.narbarv1-link51 {
  text-decoration: none;
}
.narbarv1-icon-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.narbarv1-container2 {
  display: flex;
  align-items: center;
  animation-name: rotateInDownLeft;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-end;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.narbarv1-icon10 {
  width: 24px;
  height: 24px;
}
.narbarv1-container3 {
  display: flex;
  align-items: center;
  animation-name: rotateInDownRight;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-end;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.narbarv1-icon12 {
  width: 24px;
  height: 24px;
}
.narbarv1-link11 {
  text-decoration: none;
}
.narbarv1-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.narbarv1-action11 {
  display: flex;
  flex-direction: row;
}
.narbarv1-navlink2 {
  text-decoration: none;
}
.narbarv1-action21 {
  display: flex;
  flex-direction: row;
}
.narbarv1-navlink3 {
  text-decoration: none;
}
.narbarv1-burger-menu {
  display: none;
}
.narbarv1-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.narbarv1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.narbarv1-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.narbarv1-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.narbarv1-logo {
  height: 3rem;
}
.narbarv1-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.narbarv1-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.narbarv1-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.narbarv1-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.narbarv1-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.narbarv1-icon-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.narbarv1-container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.narbarv1-icon18 {
  width: 24px;
  height: 24px;
}
.narbarv1-container5 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.narbarv1-icon20 {
  width: 24px;
  height: 24px;
}
.narbarv1-container6 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-halfunit);
  grid-template-columns: 1fr;
}
.narbarv1-menu-item1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.narbarv1-page1-image1 {
  width: 50px;
  height: 50px;
}
.narbarv1-content1 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.narbarv1-menu-item2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.narbarv1-page2-image1 {
  width: 50px;
  height: 50px;
}
.narbarv1-content2 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.narbarv1-menu-item3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.narbarv1-page3-image1 {
  width: 50px;
  height: 50px;
}
.narbarv1-content3 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.narbarv1-menu-item4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.narbarv1-page4-image1 {
  width: 50px;
  height: 50px;
}
.narbarv1-content4 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.narbarv1-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
}
.narbarv1-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.narbarv1-container7 {
  top: 100%;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  animation-name: fadeInDownBig;
  animation-delay: 0s;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.narbarv1-link5-menu-list {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-oneandhalfunits);
  grid-gap: var(--dl-space-space-halfunit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.narbarv1-menu-item5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.narbarv1-page1-image2 {
  width: 30px;
  height: 30px;
}
.narbarv1-content5 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.narbarv1-menu-item6 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.narbarv1-page2-image2 {
  width: 30px;
  height: 30px;
}
.narbarv1-content6 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.narbarv1-menu-item7 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.narbarv1-page3-image2 {
  width: 30px;
  height: 30px;
}
.narbarv1-content7 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.narbarv1-menu-item8 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.narbarv1-page4-image2 {
  width: 30px;
  height: 30px;
}
.narbarv1-content8 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.narbarv1-container8 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
.mine-saker-fragment10 {
  display: contents;
}
.mine-saker-text10 {
  display: inline-block;
}
.mine-saker-fragment11 {
  display: contents;
}
.mine-saker-text13 {
  display: inline-block;
}
.mine-saker-fragment12 {
  display: contents;
}
.mine-saker-text14 {
  display: inline-block;
}
.mine-saker-fragment13 {
  display: contents;
}
.mine-saker-text15 {
  display: inline-block;
}
.mine-saker-fragment14 {
  display: contents;
}
.mine-saker-text16 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.mine-saker-fragment15 {
  display: contents;
}
.mine-saker-text17 {
  display: inline-block;
  text-decoration: none;
}
.mine-saker-fragment16 {
  display: contents;
}
.mine-saker-text18 {
  display: inline-block;
  text-decoration: none;
}
.mine-saker-fragment17 {
  display: contents;
}
.mine-saker-text21 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.mine-saker-fragment18 {
  display: contents;
}
.mine-saker-text22 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.mine-saker-fragment19 {
  display: contents;
}
.mine-saker-text23 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.mine-saker-fragment20 {
  display: contents;
}
.mine-saker-text24 {
  display: inline-block;
}
.mine-saker-fragment21 {
  display: contents;
}
.mine-saker-text25 {
  display: inline-block;
}
.mine-saker-fragment22 {
  display: contents;
}
.mine-saker-text26 {
  display: inline-block;
}
.mine-saker-fragment23 {
  display: contents;
}
.mine-saker-text27 {
  display: inline-block;
}


@media(max-width: 767px) {
  .narbarv1-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .narbarv1-desktop-menu {
    display: none;
  }
  .narbarv1-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .narbarv1-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .narbarv1-container6 {
    grid-gap: 0;
  }
  .narbarv1-link5-menu-list {
    display: none;
  }
}
@media(max-width: 479px) {
  .narbarv1-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .narbarv1-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.footerv1-wrapper {
  display: contents;
}
.footerv1-footer1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footerv1-max-width {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
}
.footerv1-newsletter {
  gap: 24px;
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footerv1-image1 {
  height: 2rem;
}
.footerv1-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
.footerv1-container {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
.footerv1-text-input {
  gap: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  background-color: transparent;
}
.footerv1-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.footerv1-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footerv1-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footerv1-footer-links2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-column3 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footerv1-social-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-link14 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footerv1-link15 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footerv1-link16 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footerv1-link17 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footerv1-link18 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footerv1-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
}
.footerv1-footer-links3 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.mine-saker-fragment24 {
  display: contents;
}
.mine-saker-text30 {
  display: inline-block;
}
.mine-saker-fragment25 {
  display: contents;
}
.mine-saker-text31 {
  display: inline-block;
}
.mine-saker-fragment26 {
  display: contents;
}
.mine-saker-text32 {
  display: inline-block;
}
.mine-saker-fragment27 {
  display: contents;
}
.mine-saker-text33 {
  display: inline-block;
}
.mine-saker-fragment28 {
  display: contents;
}
.mine-saker-text34 {
  display: inline-block;
}
.mine-saker-fragment29 {
  display: contents;
}
.mine-saker-text35 {
  display: inline-block;
}
.mine-saker-fragment30 {
  display: contents;
}
.mine-saker-text36 {
  display: inline-block;
}
.mine-saker-fragment31 {
  display: contents;
}
.mine-saker-text37 {
  display: inline-block;
}
.mine-saker-fragment32 {
  display: contents;
}
.mine-saker-text38 {
  display: inline-block;
}
.mine-saker-fragment33 {
  display: contents;
}
.mine-saker-text39 {
  display: inline-block;
}
.mine-saker-fragment34 {
  display: contents;
}
.mine-saker-text40 {
  display: inline-block;
}
.mine-saker-fragment35 {
  display: contents;
}
.mine-saker-text41 {
  display: inline-block;
}
.mine-saker-fragment36 {
  display: contents;
}
.mine-saker-text42 {
  display: inline-block;
}
.mine-saker-fragment37 {
  display: contents;
}
.mine-saker-text43 {
  display: inline-block;
}
.mine-saker-fragment38 {
  display: contents;
}
.mine-saker-text44 {
  display: inline-block;
}
.mine-saker-fragment39 {
  display: contents;
}
.mine-saker-text45 {
  display: inline-block;
}
.mine-saker-fragment40 {
  display: contents;
}
.mine-saker-text46 {
  display: inline-block;
}
.mine-saker-fragment41 {
  display: contents;
}
.mine-saker-text47 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  display: inline-block;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.mine-saker-fragment42 {
  display: contents;
}
.mine-saker-text48 {
  display: inline-block;
}



@media(max-width: 991px) {
  .footerv1-newsletter {
    width: 300px;
  }
  .footerv1-form {
    width: 100%;
    flex-direction: column;
  }
  .footerv1-container {
    width: 100%;
  }
  .footerv1-text-input {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .footerv1-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footerv1-content {
    flex-direction: column;
  }
  .footerv1-newsletter {
    width: 100%;
  }
  .footerv1-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footerv1-container {
    width: 100%;
  }
  .footerv1-button {
    width: 208px;
  }
  .footerv1-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footerv1-column1 {
    align-items: center;
  }
  .footerv1-footer-links1 {
    align-self: center;
  }
  .footerv1-column2 {
    align-items: center;
  }
  .footerv1-footer-links2 {
    align-self: center;
  }
  .footerv1-column3 {
    align-items: center;
  }
  .footerv1-social-links {
    align-self: center;
  }
  .footerv1-row {
    gap: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .mine-saker-text39 {
    text-align: center;
  }
  .mine-saker-text40 {
    text-align: center;
  }
  .mine-saker-text48 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .footerv1-actions {
    width: 100%;
  }
  .footerv1-form {
    width: 100%;
    flex-direction: column;
  }
  .footerv1-container {
    width: 100%;
  }
  .footerv1-button {
    width: 100%;
  }
  .footerv1-links {
    flex-direction: column;
  }
  .footerv1-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footerv1-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footerv1-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footerv1-footer-links2 {
    align-items: center;
    justify-content: center;
  }
  .footerv1-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footerv1-social-links {
    align-items: center;
    justify-content: center;
  }
  .footerv1-credits {
    gap: var(--dl-space-space-unit);
  }
  .footerv1-row {
    align-items: center;
    justify-content: center;
  }
  .footerv1-footer-links3 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.mine-saker-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mine-saker-fragment10 {
  display: contents;
}
.mine-saker-text10 {
  display: inline-block;
}
.mine-saker-fragment11 {
  display: contents;
}
.mine-saker-text13 {
  display: inline-block;
}
.mine-saker-fragment12 {
  display: contents;
}
.mine-saker-text14 {
  display: inline-block;
}
.mine-saker-fragment13 {
  display: contents;
}
.mine-saker-text15 {
  display: inline-block;
}
.mine-saker-fragment14 {
  display: contents;
}
.mine-saker-text16 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.mine-saker-fragment15 {
  display: contents;
}
.mine-saker-text17 {
  display: inline-block;
  text-decoration: none;
}
.mine-saker-fragment16 {
  display: contents;
}
.mine-saker-text18 {
  display: inline-block;
  text-decoration: none;
}
.mine-saker-fragment17 {
  display: contents;
}
.mine-saker-text21 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.mine-saker-fragment18 {
  display: contents;
}
.mine-saker-text22 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.mine-saker-fragment19 {
  display: contents;
}
.mine-saker-text23 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.mine-saker-fragment20 {
  display: contents;
}
.mine-saker-text24 {
  display: inline-block;
}
.mine-saker-fragment21 {
  display: contents;
}
.mine-saker-text25 {
  display: inline-block;
}
.mine-saker-fragment22 {
  display: contents;
}
.mine-saker-text26 {
  display: inline-block;
}
.mine-saker-fragment23 {
  display: contents;
}
.mine-saker-text27 {
  display: inline-block;
}
.mine-saker-fragment24 {
  display: contents;
}
.mine-saker-text30 {
  display: inline-block;
}
.mine-saker-fragment25 {
  display: contents;
}
.mine-saker-text31 {
  display: inline-block;
}
.mine-saker-fragment26 {
  display: contents;
}
.mine-saker-text32 {
  display: inline-block;
}
.mine-saker-fragment27 {
  display: contents;
}
.mine-saker-text33 {
  display: inline-block;
}
.mine-saker-fragment28 {
  display: contents;
}
.mine-saker-text34 {
  display: inline-block;
}
.mine-saker-fragment29 {
  display: contents;
}
.mine-saker-text35 {
  display: inline-block;
}
.mine-saker-fragment30 {
  display: contents;
}
.mine-saker-text36 {
  display: inline-block;
}
.mine-saker-fragment31 {
  display: contents;
}
.mine-saker-text37 {
  display: inline-block;
}
.mine-saker-fragment32 {
  display: contents;
}
.mine-saker-text38 {
  display: inline-block;
}
.mine-saker-fragment33 {
  display: contents;
}
.mine-saker-text39 {
  display: inline-block;
}
.mine-saker-fragment34 {
  display: contents;
}
.mine-saker-text40 {
  display: inline-block;
}
.mine-saker-fragment35 {
  display: contents;
}
.mine-saker-text41 {
  display: inline-block;
}
.mine-saker-fragment36 {
  display: contents;
}
.mine-saker-text42 {
  display: inline-block;
}
.mine-saker-fragment37 {
  display: contents;
}
.mine-saker-text43 {
  display: inline-block;
}
.mine-saker-fragment38 {
  display: contents;
}
.mine-saker-text44 {
  display: inline-block;
}
.mine-saker-fragment39 {
  display: contents;
}
.mine-saker-text45 {
  display: inline-block;
}
.mine-saker-fragment40 {
  display: contents;
}
.mine-saker-text46 {
  display: inline-block;
}
.mine-saker-fragment41 {
  display: contents;
}
.mine-saker-text47 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  display: inline-block;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.mine-saker-fragment42 {
  display: contents;
}
.mine-saker-text48 {
  display: inline-block;
}
@media(max-width: 767px) {
  .mine-saker-text39 {
    text-align: center;
  }
  .mine-saker-text40 {
    text-align: center;
  }
  .mine-saker-text48 {
    text-align: center;
  }
}
