.footerv1-footer1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footerv1-max-width {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
}
.footerv1-newsletter {
  gap: 24px;
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footerv1-image1 {
  height: 2rem;
}
.footerv1-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
.footerv1-container {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
.footerv1-text-input {
  gap: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  background-color: transparent;
}
.footerv1-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.footerv1-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footerv1-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footerv1-footer-links2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-column3 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footerv1-social-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-link14 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footerv1-link15 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footerv1-link16 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footerv1-link17 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footerv1-link18 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footerv1-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.footerv1-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
}
.footerv1-footer-links3 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footerv1-fragment10 {
  display: contents;
}
.footerv1-text10 {
  display: inline-block;
}
.footerv1-fragment11 {
  display: contents;
}
.footerv1-text11 {
  display: inline-block;
}
.footerv1-fragment12 {
  display: contents;
}
.footerv1-text12 {
  display: inline-block;
}
.footerv1-fragment13 {
  display: contents;
}
.footerv1-text13 {
  display: inline-block;
}
.footerv1-fragment14 {
  display: contents;
}
.footerv1-text14 {
  display: inline-block;
}
.footerv1-fragment15 {
  display: contents;
}
.footerv1-text15 {
  display: inline-block;
}
.footerv1-fragment16 {
  display: contents;
}
.footerv1-text16 {
  display: inline-block;
}
.footerv1-fragment17 {
  display: contents;
}
.footerv1-text17 {
  display: inline-block;
}
.footerv1-fragment18 {
  display: contents;
}
.footerv1-text18 {
  display: inline-block;
}
.footerv1-fragment19 {
  display: contents;
}
.footerv1-text19 {
  display: inline-block;
}
.footerv1-fragment20 {
  display: contents;
}
.footerv1-text20 {
  display: inline-block;
}
.footerv1-fragment21 {
  display: contents;
}
.footerv1-text21 {
  display: inline-block;
}
.footerv1-fragment22 {
  display: contents;
}
.footerv1-text22 {
  display: inline-block;
}
.footerv1-fragment23 {
  display: contents;
}
.footerv1-text23 {
  display: inline-block;
}
.footerv1-fragment24 {
  display: contents;
}
.footerv1-text24 {
  display: inline-block;
}
.footerv1-fragment25 {
  display: contents;
}
.footerv1-text25 {
  display: inline-block;
}
.footerv1-fragment26 {
  display: contents;
}
.footerv1-text26 {
  display: inline-block;
}
.footerv1-fragment27 {
  display: contents;
}
.footerv1-text27 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  display: inline-block;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footerv1-fragment28 {
  display: contents;
}
.footerv1-text28 {
  display: inline-block;
}



@media(max-width: 991px) {
  .footerv1-newsletter {
    width: 300px;
  }
  .footerv1-form {
    width: 100%;
    flex-direction: column;
  }
  .footerv1-container {
    width: 100%;
  }
  .footerv1-text-input {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .footerv1-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footerv1-content {
    flex-direction: column;
  }
  .footerv1-newsletter {
    width: 100%;
  }
  .footerv1-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footerv1-container {
    width: 100%;
  }
  .footerv1-button {
    width: 208px;
  }
  .footerv1-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footerv1-column1 {
    align-items: center;
  }
  .footerv1-footer-links1 {
    align-self: center;
  }
  .footerv1-column2 {
    align-items: center;
  }
  .footerv1-footer-links2 {
    align-self: center;
  }
  .footerv1-column3 {
    align-items: center;
  }
  .footerv1-social-links {
    align-self: center;
  }
  .footerv1-row {
    gap: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footerv1-text19 {
    text-align: center;
  }
  .footerv1-text20 {
    text-align: center;
  }
  .footerv1-text28 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .footerv1-actions {
    width: 100%;
  }
  .footerv1-form {
    width: 100%;
    flex-direction: column;
  }
  .footerv1-container {
    width: 100%;
  }
  .footerv1-button {
    width: 100%;
  }
  .footerv1-links {
    flex-direction: column;
  }
  .footerv1-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footerv1-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footerv1-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footerv1-footer-links2 {
    align-items: center;
    justify-content: center;
  }
  .footerv1-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footerv1-social-links {
    align-items: center;
    justify-content: center;
  }
  .footerv1-credits {
    gap: var(--dl-space-space-unit);
  }
  .footerv1-row {
    align-items: center;
    justify-content: center;
  }
  .footerv1-footer-links3 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
